[x-cloak] {
    display: none !important;
}

.mt-9 {
    margin-top: 4.5rem
}
.w-50 {
    width: 30em
}
.h-50 {
    height: 5em
}

.lg\:w-16 {
    width: 6rem;
}
.lg\:w-64 {
    width: 12rem;
}

.lg\:mr-64 {
    margin-right: -2rem;
}
.lg\:mr-16 {
    margin-right: -8rem;
}

.lg\:ml-64 {
    margin-left: -2rem;
}
.lg\:ml-16 {
    margin-left: -8rem;
}
